<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        tools:targetApi="31">
        <activity
            android:name=".Municipality_Pangasinan"
            android:exported="false" />
        <activity
            android:name=".City_Pangasinan"
            android:exported="false" />
        <activity
            android:name=".Municipality_LaUnion"
            android:exported="false" />
        <activity
            android:name=".City_LaUnion"
            android:exported="false" />
        <activity
            android:name=".Municipalities_IlocosSur"
            android:exported="false" />
        <activity
            android:name=".MunicipalityNCR"
            android:exported="false" />
        <activity
            android:name=".CitiesNCR"
            android:exported="false" />
        <activity
            android:name=".City_IlocosSur"
            android:exported="false" />
        <activity
            android:name=".CityIlocosNorteDetail"
            android:exported="false" />
        <activity
            android:name=".Municipality_IlocosNorte"
            android:exported="false" />
        <activity
            android:name=".City_IlocosNorte"
            android:exported="false" />
        <activity
            android:name=".NCR"
            android:exported="false"
            android:theme="@style/Base.Theme.Hello" />
        <activity
            android:name=".CAR"
            android:exported="false" />
        <activity
            android:name=".region5"
            android:exported="false" />
        <activity
            android:name=".region4B"
            android:exported="false" />
        <activity
            android:name=".region4A"
            android:exported="false" />
        <activity
            android:name=".region3"
            android:exported="false" />
        <activity
            android:name=".region2"
            android:exported="false" />
        <activity
            android:name=".region1"
            android:exported="false" />
        <activity
            android:name=".listView"
            android:exported="false" />
        <activity
            android:name=".MainAct2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>